@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(209, 207, 207);
}


::-webkit-scrollbar {
    
    width: 10px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
    background: #767373;
}